
<footer class="footer martop mt-auto py-3 mt-auto">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12">
                <ul class="list-unstyled text-center" style="opacity: 0.6;">
                    <li class="d-md-inline-block m-3"><a href="/rules"  class="nav-link">regulamin</a></li>
                    <li class="d-md-inline-block m-3"><a href="/contact"  class="nav-link">kontakt</a></li>
                </ul>
            </div>
            <div class="col-md-12 text-center marbot">
                <p class="mb-0 opacity-75">copyright © 2023 gitpad</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>