<header>
    <nav>
        <ul>
            <a href="/">Strona główna</a>
            <a href="/add">Nowe opowiadanie</a>
            <a href="/library">Biblioteka</a>
            <a href="/about">O Gitpadzie</a>
            <a href="/account">Moje konto</a>
        </ul>
        <button id="colorChangeBtn">Zmień kolor</button>
    </nav>

    <script>
        document.getElementById('colorChangeBtn').onclick = () => {
            let currentTheme = localStorage.getItem('theme');
            if (currentTheme === null || currentTheme == 'dark') {
                localStorage.setItem('theme', 'bright');
            }
            else {
                localStorage.setItem('theme', 'dark');
            }
            location.reload()
        }
    </script>
</header>