<header>
    <nav>
        <ul>
            <a href="/">Strona główna</a>
            <a href="/add">Nowe opowiadanie</a>
            <a href="/library">Biblioteka</a>
            <a href="/about">O Gitpadzie</a>
            <a href="/account">Moje konto</a>
        </ul>
    </nav>
</header>
