* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: $primaryTextColor;
    font-family: sans-serif;
}

nav ul {
    list-style: none;
}

nav ul a {
    text-decoration: none;
}
