// $backgroundColor1: #112b12;
// $backgroundColor2: #4d772d;
// $backgroundColor3: #90a955;
// $backgroundColor4: #ebf4a1;
// $backgroundColorErr: rgb(143, 0, 0);

// $primaryTextColor: #000;
// $secondaryTextColor: #ebf4a1;
// $errorTextColor: #f00;

$backgroundColor1: #ebf4a1;
$backgroundColor2: #90a955;
$backgroundColor3: #4d772d;
$backgroundColor4: #90a955;
$backgroundColorErr: rgb(143, 0, 0);

$primaryTextColor: #000;
$secondaryTextColor: #000;
$errorTextColor: #f00;

$font: sans-serif;
// $font: cursive;