$primaryBackgroundColor: #336733;
$secondaryBackgroundColor: #4E6F2B;
$secondaryBackgroundHoverColor: #76a04a;
$secondaryOpaqueBackgroundColor: #4e6f2b88;

$primaryTextColor: #000;
$errorTextColor: #f00;
