<%- include('includes/head.ejs') %>
</head>
<body>
<%- include('includes/navigation.ejs') %>
<main class="errorPage">
    <h1>Błąd 404</h1>
    <p>Nie znaleziono podanej strony!</p>
</main>
<%- include('includes/footer.ejs') %>