<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <main class="aboutPage">
                <div class="container">
                    <h1>O nas</h1>
                    <h2>Czym jest Gitpad?</h2>
                    <p class="history">Celem projektu jest stworzenie aplikacji webowej, umożliwiającej zalogowanym
                        użytkownikom pisanie krótkich tekstów do 1000 znaków jako odpowiedź na teksty innych
                        użytkowników lub pisanie samodzielnych tekstów. W ten sposób będą tworzone drzewa powiązanych ze
                        sobą tekstów. Aplikacja będzie zapewniać wszystkim użytkownikom
                        (również niezalogowanym) interfejs do przeglądania publicznych treści zamieszczonych w
                        bazie danych. Ponadto zapewni zalogowanym użytkownikom możliwość modyfikowania opowieści innych
                        użytkowników. </p>
                    <h2>Poznaj zespół</h2>
                    <div class="team">
                        <div class="member">
                            <h3>Adrian Grzymski</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi incidunt officiis
                                doloremque ad nam ea unde reiciendis, fugiat architecto ducimus?</p>
                        </div>
                        <div class="member">
                            <h3>Mikołaj Krupiński</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente doloribus dolorem
                                beatae distinctio cupiditate, animi adipisci cum unde aliquid quod.</p>
                        </div>
                        <div class="member">
                            <h3>Łukasz Machnik</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam atque libero vel commodi
                                incidunt tenetur voluptatibus at eos asperiores tempora?</p>
                        </div>
                        <div class="member">
                            <h3>Jarosław Socha</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ullam aut hic inventore
                                ea! Suscipit minus consequatur quod animi magni.</p>
                        </div>
                        <div class="member">
                            <h3>Zofia Wiora</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores id explicabo vero ut
                                cum. Libero omnis quo animi debitis ducimus!</p>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('includes/footer.ejs') %>