<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main class="aboutPage">
        <div class="container">
            <h1>O nas</h1>
            <h2>Czym jest Gitpad?</h2>
            <p class="history">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque consequatur corporis saepe est totam veritatis, optio repudiandae recusandae distinctio dolore, facere eaque aliquam perferendis cumque quo nostrum ipsam in fugiat quam voluptates architecto minima? Sint similique consectetur placeat aperiam nihil eos praesentium, vero temporibus, in, nisi tenetur reprehenderit suscipit aliquid aspernatur sequi ipsam omnis labore maiores? Ullam odit est, deserunt aut impedit adipisci laudantium qui veritatis cumque officia minima error eaque eligendi enim! Totam, facere. Cupiditate quaerat aperiam adipisci, eligendi odio laudantium tenetur fugit ut labore qui at natus incidunt, minima deleniti beatae sequi et porro numquam possimus quibusdam quos nam iusto unde dolores! Inventore alias perferendis voluptatibus, qui quo mollitia tenetur ipsa dolorem omnis in quos veritatis quas esse. Corrupti doloremque maxime vero officia dolores placeat ea quaerat omnis praesentium, nemo sit labore ut adipisci illo, error possimus perspiciatis optio atque perferendis corporis delectus natus. Minus, consectetur cumque expedita odit temporibus architecto similique saepe vel veritatis mollitia ex possimus cupiditate error. Debitis sint dolore explicabo doloremque consequuntur fugit dolorum provident molestias reprehenderit deserunt. Eveniet repellendus voluptatum recusandae cumque impedit quae explicabo nihil perferendis accusamus fuga? Error doloribus nostrum, recusandae cupiditate, quae numquam sunt est quam voluptatem aliquid, adipisci culpa ex quasi iste necessitatibus aspernatur amet at soluta. Dolorem eum sapiente deserunt ipsa iusto rem asperiores velit sit repellendus, possimus laboriosam numquam, mollitia eaque aliquam nihil suscipit natus eius nisi ut! Esse, reprehenderit nulla. Possimus consequatur quisquam eveniet vel nam aliquam tempora, vero veritatis incidunt facere earum rerum commodi aperiam!</p>
            <h2>Poznaj zespół</h2>
            <div class="team">
                <div class="member">
                    <h3>Adrian Grzymski</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi incidunt officiis doloremque ad nam ea unde reiciendis, fugiat architecto ducimus?</p>
                </div>
                <div class="member">
                    <h3>Mikołaj Krupiński</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente doloribus dolorem beatae distinctio cupiditate, animi adipisci cum unde aliquid quod.</p>
                </div>
                <div class="member">
                    <h3>Łukasz Machnik</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam atque libero vel commodi incidunt tenetur voluptatibus at eos asperiores tempora?</p>
                </div>
                <div class="member">
                    <h3>Jarosław Socha</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ullam aut hic inventore ea! Suscipit minus consequatur quod animi magni.</p>
                </div>
                <div class="member">
                    <h3>Zofia Wiora</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores id explicabo vero ut cum. Libero omnis quo animi debitis ducimus!</p>
                </div>
            </div>
        </div>
    </main>
    <%- include('includes/footer.ejs') %>