<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <main class="accountPage">
                <h1>Opcje logowania</h1>
                <div class="container">
                    <h3 id="error" style="color: rgb(238, 81, 81);text-align: center;font-size:medium;"></h3>
                    <a href="/login">Logowanie</a>
                    <a href="/register">Rejestracja</a>
                </div>
            </main>

            <script>
                const urlParams = new URLSearchParams(window.location.search);
                const errorMessage = urlParams.get('error');
                document.getElementById("error").innerHTML = errorMessage;
            </script>
            <%- include('includes/footer.ejs') %>