<%- include('includes/head.ejs') %>
    </head>

    <body class="d-flex flex-column min-vh-100 ">
        <%- include('includes/navigation.ejs') %>
            <main class="bg-info h-100 ">
                <div class="container mh-100 .no-gutters">
                    <div class="row align-items-center h-100">
                        <div class="col-sm bg-success">
                            One of three columns
                        </div>
                        <div class="col-sm bg-success p-5">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus labore consequuntur
                            corporis tempora, dolorum consequatur qui est impedit accusantium odio in dolor obcaecati
                            adipisci rerum accusamus voluptatem. Inventore, sit nihil.
                            Explicabo doloremque culpa velit totam cupiditate blanditiis nisi nesciunt delectus quia
                            natus, id, fugiat deserunt optio quam nostrum adipisci consectetur! Possimus suscipit cumque
                            ut libero, eius odio neque maxime quis.
                            <br>
                            Obcaecati quam enim dignissimos in ipsa cupiditate dolorum delectus maiores. Veniam
                            consequuntur voluptatibus dolorem, perspiciatis voluptas totam enim blanditiis itaque
                            asperiores quasi quidem aspernatur aut laborum maiores dolor soluta id.
                            Perspiciatis, quos! Delectus, corrupti distinctio. Quia, quasi blanditiis. Magnam aut nemo
                            deserunt quo, consequuntur adipisci quidem dolorem ratione, ea illo eos incidunt placeat?
                            Harum, doloremque esse! Natus quis quo assumenda.
                        </div>
                        <div class="col-sm bg-success">
                            One of three columns
                        </div>
                    </div>
                </div>
                <!-- <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center my-5">Strona główna</h1>
                            <div class="container">
                                <h1 class="text-center my-5">Strona główna</h1>
                            </div>
                        </div>
                    </div>
                </div> -->

            </main>
            <%- include('includes/footer.ejs') %>