<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main class="registerPage">
        <div>
            <h1>Rejestracja</h1>
            <p id="error" class="errorBox"></p>
            <form action="/register_email" method="POST">
                <label for="nick">Pseudonim:</label>
                <input type="text" name="nick" id="nick">
                <label for="email">E-mail:</label>
                <input type="text" name="email" placeholder="example@example.com" id="email">
                <label for="password">Hasło:</label>
                <input type="password" name="password" id="password">
                <label for="passwordRepeat">Powtórz hasło:</label>
                <input type="password" name="passwordRepeat" id="passwordRepeat">
                <input type="submit" value="Zarejestruj się" class="submit">
            </form>
        </div>
    </main>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const errorMessage = urlParams.get('error');
        document.getElementById("error").innerHTML = errorMessage;
    </script>
    <%- include('includes/footer.ejs') %>