* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #000;
  font-family: sans-serif;
}

nav ul {
  list-style: none;
}

nav ul a {
  text-decoration: none;
}

nav {
  background-color: #4d772d;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}
nav ul a {
  flex-basis: content;
  padding: 2em;
  transition-duration: 0.75s;
}
nav ul a:hover {
  background-color: #90a955;
}

footer {
  background-color: #4d772d;
  color: #000;
}
footer div {
  padding: 1em;
}
footer div p {
  text-align: center;
}

main {
  min-height: 100vh;
  background-color: #112b12;
  padding-top: 5.5em;
}

.errorPage h1 {
  text-align: center;
  margin: 2em;
}
.errorPage p {
  text-align: center;
  font-size: large;
}

.aboutPage .container {
  width: 90%;
  margin: auto;
  padding: 1em;
}
.aboutPage .container h1 {
  text-align: center;
  color: #ebf4a1;
}
.aboutPage .container h2 {
  color: #ebf4a1;
  margin: 1em 0em;
}
.aboutPage .container .history {
  border-radius: 1em;
  padding: 1em;
  background-color: #90a955;
}
.aboutPage .container .team {
  display: flex;
  justify-content: space-between;
}
.aboutPage .container .team .member {
  border-radius: 1em;
  padding: 1em;
  background-color: #90a955;
  flex-basis: 18%;
}
.aboutPage .container .team .member h3 {
  margin-bottom: 0.5em;
  text-align: center;
}

.accountInfoPage h1 {
  text-align: center;
  margin: 1em;
  color: #ebf4a1;
}
.accountInfoPage h1 b {
  color: #ebf4a1;
}
.accountInfoPage .container {
  width: 30vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #90a955;
  border-radius: 1em;
  padding: 0.5em 1em;
}
.accountInfoPage .container h2 {
  text-align: center;
  margin: 2em 0em 1em 0em;
}
.accountInfoPage .container p {
  text-align: center;
  margin: 0.2em;
  flex-basis: 100%;
}
.accountInfoPage .container .errorBox {
  color: #f00;
  text-align: center;
}
.accountInfoPage .container form {
  display: flex;
  flex-wrap: wrap;
  padding: 0em 5em;
  justify-content: center;
}
.accountInfoPage .container form label {
  flex-basis: 100%;
}
.accountInfoPage .container form input {
  flex-basis: 100%;
  padding: 1em;
  border-radius: 1em;
  margin: 0.25em 0em 1em;
  border-style: solid;
}
.accountInfoPage .container form .submit {
  flex-basis: 30%;
}

.addPage .container {
  width: 80%;
  margin: auto;
}
.addPage .container h1 {
  color: #ebf4a1;
  text-align: center;
  margin: 1em;
}
.addPage .container .form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.addPage .container .form label {
  flex-basis: 100%;
  color: #ebf4a1;
  padding: 1em 0em 0.25em;
  font-size: 18px;
}
.addPage .container .form input {
  flex-basis: 100%;
  padding: 0.5em;
  font-size: 16px;
  border-radius: 0.5em;
  border: none;
}
.addPage .container .form textarea {
  flex-basis: 100%;
  padding: 0.5em;
  font-size: 16px;
  border-radius: 0.5em;
  border: none;
}
.addPage .container .form .submit {
  flex-basis: content;
  padding: 1em;
  border-radius: 1em;
  background-color: #90a955;
  margin: 1em;
  border: none;
  transition-duration: 0.5s;
}
.addPage .container .form .submit:hover {
  background-color: #ebf4a1;
}

.contactPage .container {
  width: 90%;
  margin: auto;
  padding: 1em auto;
}
.contactPage .container h1 {
  text-align: center;
  color: #ebf4a1;
}
.contactPage .container form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contactPage .container form label {
  flex-basis: 100%;
  color: #ebf4a1;
  padding: 1em 0em 0.25em;
}
.contactPage .container form input {
  flex-basis: 100%;
  background-color: #fff;
}
.contactPage .container form textarea {
  flex-basis: 100%;
  padding: 0.25em;
}
.contactPage .container form .submit {
  flex-basis: content;
  padding: 1em;
  border-radius: 1em;
  background-color: #90a955;
  margin: 1em;
  border: none;
  transition-duration: 0.5s;
}
.contactPage .container form .submit:hover {
  background-color: #ebf4a1;
}

.libraryPage div {
  width: 90%;
  margin: auto;
}
.libraryPage div h1 {
  text-align: center;
  margin: 1em;
  color: #ebf4a1;
}
.libraryPage div .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.libraryPage div .content .singleStory {
  text-decoration: none;
  background-color: #90a955;
  flex-basis: 24%;
  border-radius: 1em;
  padding: 1em;
  margin: 1em 0em;
}
.libraryPage div .content .singleStory:hover {
  background-color: #ebf4a1;
}
.libraryPage div .content .singleStory h2 {
  font-size: 1.2em;
  margin: 0.5em 0em;
}

.loginPage, .registerPage {
  padding: 10em 0em 5em;
}
.loginPage div, .registerPage div {
  width: 30vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #4d772d;
  border-radius: 1em;
  padding: 4em 1em;
}
.loginPage div h1, .registerPage div h1 {
  text-align: center;
  margin: 0.5em 0em;
}
.loginPage div .errorBox, .registerPage div .errorBox {
  color: #f00;
  text-align: center;
}
.loginPage div form, .registerPage div form {
  display: flex;
  flex-wrap: wrap;
  padding: 0em 5em;
  justify-content: center;
}
.loginPage div form label, .registerPage div form label {
  flex-basis: 100%;
}
.loginPage div form input, .registerPage div form input {
  flex-basis: 100%;
  padding: 1em;
  border-radius: 1em;
  margin: 0.25em 0em 1em;
  border-style: solid;
}
.loginPage div form .submit, .registerPage div form .submit {
  flex-basis: content;
  padding: 1em;
  border-radius: 1em;
  background-color: #90a955;
  margin: 1em;
  border: none;
  transition-duration: 0.5s;
}
.loginPage div form .submit:hover, .registerPage div form .submit:hover {
  background-color: #ebf4a1;
}

.reportedPage h1 {
  text-align: center;
  color: #ebf4a1;
  padding: 1em;
}