.aboutPage {
    .container {
        width: 90%;
        margin: auto;
        padding: 1em;
        h1 {
            text-align: center;
            color: $secondaryTextColor;
        }
    }
    
}
