.contactPage {
    .container {
        width: 90%;
        margin: auto;
        padding: 1em auto;
        h1 {
            text-align: center;
            color: $secondaryTextColor;
        }
        form {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            label {
                flex-basis: 100%;
                color: $secondaryTextColor;
                padding: 1em 0em 0.25em;
            }
            input {
                flex-basis: 100%;
                background-color: #fff;
            }
            textarea {
                flex-basis: 100%;
                padding: 0.25em;
            }
            .submit {
                flex-basis: content;
                padding: 1em;
                border-radius: 1em;
                background-color: $backgroundColor3;
                margin: 1em;
                border: none;
                transition-duration: 0.5s;
                &:hover {
                    background-color: $backgroundColor4;
                }
            }
        }
    }

}
