.homePage {
    h1 {
        text-align: center;
        margin: 1em;
        color: $secondaryTextColor;

        b {
            color: $secondaryTextColor;
        }
    }

    .story {
        width: 50vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        background-color: $backgroundColor4;
        border-radius: 1em;
        padding: 0.5em 1em;

        h1 {
            text-align: center;
            // margin: 2em 0em 1em 0em;
            color: $backgroundColor1;
        }

        .text {
            font-size: large;
            padding: 1em;

            pre {
                white-space: pre-wrap;
                word-break: keep-all
            }
        }

        p {
            text-align: center;
            margin: 0.2em;
            flex-basis: 100%;
        }

        form {
            display: flex;

            .btn {
                flex-basis: content;
                padding: 1em;
                border-radius: 1em;
                background-color: $backgroundColor3;
                text-decoration: none;
                margin: 0em 1em 1em 1em;
                border: none;
                transition-duration: 0.5s;
                text-align: center;
                margin-left: auto;

                &:hover {
                    background-color: $backgroundColorErr;
                    color: $backgroundColor3;
                }
            }
        }

    }

    .children {
        width: 90%;
        margin: auto;

        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            // align-content: center;

            .singleStory {
                text-decoration: none;
                background-color: $backgroundColor3;
                flex-basis: 24%;
                border-radius: 1em;
                padding: 1em;
                margin: 1em 1em;

                &:hover {
                    background-color: $backgroundColor4;
                }

                h2 {
                    font-size: 1.2em;
                    margin: 0.5em 0em;
                }
            }
        }
    }

    .adding {
        margin: 1em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        h3 {
            text-align: center;
            margin: 1em;
            color: $secondaryTextColor;
            font-weight: lighter;
            margin: 1em;
        }

        .addBttn {
            flex-basis: content;
            padding: 1em;
            border-radius: 1em;
            background-color: $backgroundColor3;
            text-decoration: none;
            margin: 1em auto;
            border: none;
            transition-duration: 0.5s;
            text-align: center;

            &:hover {
                background-color: $backgroundColor2;
            }
        }
    }

    .errDiv {
        display: flex;
        width: 90%;
        margin: auto;
        flex-direction: column;

        .err {
            text-align: center;
            margin: 1em;
            color: $secondaryTextColor;
            font-weight: lighter;
            margin: 1em;


        }

        .home {
            padding: 1em;
            border-radius: 1em;
            background-color: $backgroundColor3;
            text-decoration: none;
            margin: 1em auto;
            border: none;
            transition-duration: 0.5s;
            text-align: center;

            &:hover {
                background-color: $backgroundColor2;
            }
        }
    }

}