nav {
    background-color: $backgroundColor2;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    font-weight: bold;
    color: $backgroundColor2;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;

        a {
            flex-basis: content;
            padding: 2em;
            transition-duration: 0.75s;

            &:hover {
                background-color: $backgroundColor3;
            }
        }


    }

    button {
        flex-basis: content;
        padding: 0.5em;
        transition-duration: 0.75s;
        font-weight: bold;
        background-color: $backgroundColor2;
        border: none;

        &:hover {
            background-color: $backgroundColor3;
        }
    }
}