nav {
    background-color: $backgroundColor2;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
        a {
            flex-basis: content;
            padding: 2em;
            transition-duration: 0.5s;
            &:hover {
                background-color: $backgroundColor3;
            }
        }
    }
}